{#
 # Copyright (c) 2012 GOTO Hidenori <hidenorigoto@gmail.com>,
 #               2012 KUBO Atsuhiro <kubo@iteman.jp>,
 # All rights reserved.
 #}

{% extends "KPHPUGQuestionnaireBundle:Answer:layout.html.twig" %}

{% block title %}{{ parent() }}回答のご確認{% endblock %}

{% block content %}
  <h2>回答のご確認</h2>

  <div class="well">
    <table class="table table-striped container">
      <thead>
        <tr><th class="span3">設問</th><th>回答</th></tr>
      </thead>
      <tbody>
        {% for answerDetail in answer.answerDetails %}
          <tr><td>{{ answerDetail.questionnaireItem.text }}</td><td>{{ answerDetail.input }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ path('kphpug_questionnaire_answer_confirmationpost') }}" method="post" {{ form_enctype(form) }}>
      <div class="form-actions">
        <button type="submit" class="btn" name="prev"><b>修正する</b></button>
        <button type="submit" class="btn btn-primary" name="next"><b>送信する</b></button>
      </div>
      {{ form_rest(form) }}
    </form>
  </div>
{% endblock %}

{#
 # Local Variables:
 # mode: php
 # coding: utf-8
 # tab-width: 4
 # c-basic-offset: 4
 # c-hanging-comment-ender-p: nil
 # indent-tabs-mode: nil
 # End:
 #}
